@font-face {
  font-family: "norwester";
  src: url("./fonts/norwester.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "rubik";
  src: url("./fonts/Rubik-Light.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyOculto {
  transform: translateX(-100%);
  transform: translateY(-100%);
  /* overflow: hidden; */
}

/* HEADER */

body {
  background-color: #2d3a3a;
  color: white;
  font-family: "rubik";
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10;
  background-color: #2d3a3a;
}

.nav a {
  color: white;
  text-decoration: none;
}

.btnNav {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.btnNav:hover {
  background-color: #e2c044;
  color: black;
}

.title {
  position: absolute;
  top: 40vh;
  left: 10%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.title h1 {
  font-size: 72px;
  color: white;
  font-family: "norwester";
  letter-spacing: 5px;
}

.containerPortada {
  margin-top: 8vh;
  margin-bottom: 5vh;
  height: 85vh;
  width: 100%;
}

.portada {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* MAIN TOTAL */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
}

/*GALERIA*/

.containerPres {
  height: 400px;
}

#containerGal {
  display: flex;
  justify-content: center;
}

.galeria {
  display: flex;
  align-items: center;
}

.flechasGal {
  height: fit-content;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 10px;
}

#flechaIzq {
  transform: rotate(180deg);
}

.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.imagenCentral {
  width: 300px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* MAIN INICIO */

.mainInicio {
  width: 90vw;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: black;
  margin-right: 20px;
  margin-bottom: 20px;
}

.parrafo {
  height: 100%;
  font-size: 20px;
}

.parrafo h3 {
  font-family: "norwester";
  letter-spacing: 1px;
}

/* MAIN PRODUCTOS */

#mainProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  margin: 60px;
}

.infoFotografia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.fotografiaImg {
  width: 90%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  margin: 25px;
}

.tarjetaProd {
  border: 1px solid #efefef;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.tarjetaProd h2 {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Norwester";
  letter-spacing: 1px;
}

.cat img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cat {
  width: 250px;
}

/* PRODUCTOS ZOOM */

.zoom {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodZoom {
  border: 1px solid #efefef;
  background-color: #e3dcc2;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.producto {
  width: 300px;
}

.marco img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galeriaProd {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.marco2 {
  width: 140px;
}

.marco2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.descripcion {
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 200px;
  color: black;
}

.descripcion h2,
p {
  text-align: left;
  width: 100%;
  margin: 10px;
}

.btnOut {
  border: none;
  background: none;
  cursor: pointer;
}

.btnOut img {
  margin-top: 15px;
  width: 15px;
}

/* MAIN FOTOGRAFIA */

.mainAcerca {
  width: 90vw;
}

.imgAcercaContainer img {
  width: 200px;
  height: 220px;
  margin-right: 20px;
  padding-top: 20px;
}

.mainAcerca p {
  height: 100%;
  font-size: 20px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
}

.footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.contacto h3 {
  margin: 20px;
  font-size: 32px;
  font-family: "norwester";
  letter-spacing: 1px;
}

.contacto a {
  font-size: 14px;
  margin: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
}

.links a {
  color: white;
}
